.slide{
    width: 100%;
}
.prev , .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 50px;
}
.next{
    right: 0
}

.prev:hover , .next:hover{
    background-color: rgba(110, 110, 110, 0.8);
}