nav{
    overflow: hidden;
    background-color: rgb(45, 45, 252);
    position: relative;
    max-width: 400px;
}
nav #MyLinks{
    display: none;
}
nav a , button{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
nav a:hover, button:hover{
    background-color: rgb(7, 7, 179);
    display: block;
    position: absolute;
    margin-top: 10px;
    right: 10px;
    top: 0px;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}